
body{
  
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2099EA;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-bar li {
  float: left;
  border-right: 1px solid #bbb;

}

.nav-bar .last-child-cart{
  border-left: 1px solid #bbb;
}

.nav-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar li a:hover:not(.active) {
  background-color: #111;
}

.nav-bar .active {
  background-color: #04AA6D;
}

header img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
  }
  
header h2 {
  background-color: #2099EA;
  color: white;
}


.card {
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card td {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  padding: 10px;
}

.card td img {
  max-width: 300px;
}

.price {
  background-color: #2099EA;
  color: white;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #2099EA;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 20px;
}

.card button:hover {
  opacity: 0.7;
}